/**
  *	@name otiskujawa
  *	@author otiskujawa#5583 and rombit#1866
  * @authorurl https://www.youtube.com/watch?v=dQw4w9WgXcQ
  *	@version 0.0.3
  *	@description otiskujawa and rombit are trying their best to make a good discord theme
  * @source https://github.com/otiskujawa/theme
  * @invite TBbteuW
*/

:root {
	/* Main colors */
	--main:	#007bff;
	--sec:	#6f00ff;
	--bg:	rgba(0,0,0,0);
	/* Defining colors */
	--gr1a: var(--main); 	/* Colors of Message box gradient 1 */
	--gr1b: var(--sec);
	
	--guildsbar: var(--bg); 	/* Test color */
	--sidebar:	var(--bg);
	
	
	--sa:	var(--main);	/* Status */	/* Icon active */
	--sb:	var(--main);					/* Icon brb */
	--sd:	var(--sec);						/* Icon dnd */
	--ss:	var(--main);					/* Speaking */
}




/*──┐*/
/* 	╞═════════════════════════╡	Chat	╞═════════════════════════ */
/*	│*/
/*──┴─────────────────────────┤Gradient	├─────────────────────────	*/
.scrollableContainer-15eg7h	{ /* Message box gradient 1 */
	background: linear-gradient(-45deg, var(--gr1a), var(--gr1b));
}
.attachButtonPlay-1ATmb5	{ /* Message box gradient 1 */
	color: var(--main);
}


/*┐
  ╞═════════════════════════╡  Sidebar	╞═════════════════════════ 
  │
──┴─────────────────────────┤  Backgrounds	├─────────────────────────	*/

.guilds-2JjMmN .scroller-3X7KbA{background-color: var(--guildsbar);}  /* Guilds background */
.sidebar-1tnWFu, .container-1NXEtd, .panels-3wFtMD, .chat-2ZfjoI {background-color: var(--sidebar);} /*Sidebar background*/
.privateChannels-oVe7HL{background-color: var(--sidebar);}/* Private/friends chat background*/
.container-ZMc96U, .header-3OsQeK{background-color: var(--bg) !important;} /*Top bar background*/

/*┬─────────────────────────┤   RTC connection	├─────────────────────────
──┘*/
.rtcConnectionStatusConnected-1c73OK{color: var(--main);}
.rtcConnectionQualityFine-3zZrSa .pingForeground-1BRBTc{color: var(--main);}

/*┬─────────────────────────┤	 Buttons	├─────────────────────────
──┘*/
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background-color: var(--main);
    color: var(--sec);
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
    background-color: var(--sec);
    color: var(--main);
}
.button-1EGGcP.buttonColor-3bP3fX, .button-1EGGcP .buttonColor-3bP3fX{
	background-color: var(--bg);
    color: var(--main);
}
.button-1EGGcP.buttonColor-3bP3fX:hover, .button-1EGGcP .buttonColor-3bP3fX{
	background-color: var(--sec);
	color: var(--main);
}

/*┬─────────────────────────┤	'Add' and 'explore' servers buttons 	├─────────────────────────
──┘*/
.circleIconButton-1VxDrg{color: var(--main);}
.circleIconButton-1VxDrg.selected-2r1Hvo{background-color: var(--main); color:var(--sec);}

/* Stream untitled icon */
.icon-39rdLt{background: linear-gradient(-45deg, var(--gr1a), var(--gr1b));}


/*┐
  ╞═════════════════════════╡  Mixed Cat		╞═════════════════════════ 
  │
──┴─────────────────────────┤  Subcat	├─────────────────────────	*/
#app-mount .wrapper-1VLyxH rect[fill="#43b581"], #app-mount .wrapper-1VLyxH rect[fill="#3ba55c"], #app-mount .wrapper-1VLyxH rect[fill="rgba(67, 181, 129, 1)"], #app-mount .wrapper-1VLyxH rect[mask*=online], #app-mount .wrapper-1VLyxH rect[fill*="hsl(139"] {
  fill: var(--sa); 	/* Icon active */
}
#app-mount .wrapper-1VLyxH rect[fill="#faa61a"], #app-mount .wrapper-1VLyxH rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper-1VLyxH rect[mask*=idle], #app-mount .wrapper-1VLyxH rect[fill*="hsl(38"] {
  fill: var(--sb); 	/* Icon brb */
}
#app-mount .wrapper-1VLyxH rect[fill="#f04747"], #app-mount .wrapper-1VLyxH rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper-1VLyxH rect[fill="#ed4245"], #app-mount .wrapper-1VLyxH rect[mask*=dnd], #app-mount .wrapper-1VLyxH rect[fill*="hsl(359"] {
  fill: var(--sd); 	/* Icon dnd */
}
.avatarSpeaking-33RRJU, .avatarSpeaking-2pCGrZ, .border-2Vy6FN.speaking-7QZEkv{box-shadow: inset 0 0 0 2px var(--ss),inset 0 0 0 3px var(--bg);} /* Speaking now */

/*╦═════════════════════════╡ Other (Not categorized)╞═════════════════════════ 
──╜*/


/*╦═════════════════════════╡ WTF ╞═════════════════════════ 
──╜*/
.form-3gdLxP::before{display:none;}
.children-3xh0VB::after{display:none;}

/*▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▌Comments samples▐▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀*/



/*──┐
 	╞═════════════════════════╡ Window	╞═════════════════════════
	└┐
	┌┘
	└┐					Your computer has virus
	┌┘
	└┐
	┌┘
	└┐			|		ok		|	|		ok		|
	┌┘
	├─────────────────────────────────────────────────────────────
────┘*/



/*╦═════════════════════════╡ Cat		╞═════════════════════════ 
──╜*/



/*┐
  ╞═════════════════════════╡ Cat		╞═════════════════════════ 
  │
──┴─────────────────────────┤ Subcat	├─────────────────────────	*/



/*┬─────────────────────────┤ SubCat	├─────────────────────────
──┘*/
