/* Example v0.0 */
:root 	{
  /* Main colors */
		--main:	#444444 !important;
		--sec:	#999999 !important;
		/* Defining colors */
		--gr1a: var(--main) !important; /* Colors of Message box gradient 1 */
		--gr1b: var(--sec) !important;
}
